[package]
name = "rust-pipes"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
# three-d = "*"
three-d={git = "https://github.com/asny/three-d.git", rev = "0e338e3"}
rand = "0.8.5"
clap = { version = "4.4.6", features = ["derive", "cargo"] }
