name: Codeberg Mirroring
on:
  - push
  - workflow_dispatch
jobs:
  mirror-repo:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: pixta-dev/repository-mirroring-action@v1
        with:
          target_repo_url: 'ssh://git@codeberg.org/FaceFTW/rust-pipes.git'
          ssh_private_key: ${{ secrets.GIT_SSH_PRIVATE_KEY }}
